<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="awscli" />
  <package id="azure-cli" />
  <package id="bulkrenameutility" />
  <package id="choco-upgrade-all-at" />
  <package id="chocolatey" />
  <package id="dbeaver" />
  <package id="docker-desktop" />
  <package id="gh" />
  <package id="git" />
  <package id="git-credential-manager-for-windows" />
  <package id="github-desktop" />
  <package id="grep" />
  <package id="jq" />
  <package id="make" />
  <package id="makemeadmin" />
  <package id="microsoft-windows-terminal" />
  <package id="powertoys" />
  <package id="python3" />
  <!-- # R/Rstudio can be run via docker
  <package id="R.Project" />
  <package id="R.Studio" />
  -->
  <package id="tesseract" />
  <package id="vlc" />
  <package id="vscode" />
</packages>
