<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="awscli" />
  <package id="awssamcli" />
  <package id="bulkrenameutility" />
  <package id="choco-upgrade-all-at" />
  <package id="chocolatey" />
  <package id="dbeaver" />
  <package id="docker-desktop" />
  <package id="gh" />
  <package id="git" />
  <package id="github-desktop" />
  <package id="graphviz" />
  <package id="grep" />
  <package id="jdk8" />
  <package id="jq" />
  <package id="jre8" />
  <package id="make" />
  <package id="makemeadmin" />
  <package id="microsoft-windows-terminal" />
  <package id="powertoys" />
  <package id="python3" />
  <package id="R.Project" />
  <package id="R.Studio" />
  <package id="sed" />
  <package id="vlc" />
  <package id="wsl-ubuntu-2004" />
</packages>